body {
    background-color: #121212;
    color: white;
    justify-content: center;
    text-align: center;
}

button {
    background-color: #9F73AB;
    border-color: #9F73AB;
    border-radius: 4px;
}

.text {
    width:50%;
    margin: auto;
}

ol {
    text-align: left;
}

h3 {
    display: inline;
    margin-left: 10px;
}